<mat-toolbar>
  <span class="content">My Appointments</span>
</mat-toolbar>
<div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let appointment; let i = index">
          {{ pageIndex * pageSize + i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="patientId">
        <th mat-header-cell *matHeaderCellDef>patientId</th>
        <td mat-cell *matCellDef="let appointment">
          <a [routerLink]="['/patient', appointment.patientId]">
            {{ faker.person.fullName() }}
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="appointmentLength"
      showFirstLastButtons
    >
    </mat-paginator> -->
  </div>
</div>

<!-- (page)="getAppointments($event)" -->
